aside {
  float: left;
}
.c{
  float: left;
}
.d{
  float: right;
  
  }
.EFGH div{
   float: left;
  } 
footer{
  float: left;
}
@media (min-width: 480px) and (max-width: 767px) {
  aside {
      float: left;
  }
  .c{
      float: left;
    }
  .d{
      float: right;
      }
  .EFGH div{
      float: left;
  }
  footer{
      float: left;
  }
  
}