@media (min-width: 1021px) {
     aside{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .CD div {
        height: 200px;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
}
.EFGH div {
    height: 250px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

}
@media (min-width: 768px) and (max-width: 1020px) {
    
    aside{
        height: 150px;
        text-align: center;
       line-height: 10;
        
    }
    .CD div {
        height: 200px;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }
    .EFGH div {
        height: 250px;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }
}
@media (max-width: 767px) {
     aside{
        text-align: center;
        display: flex;
        height: 150px;
        flex-direction: column;
        justify-content: center;
    }
    .CD div {
        height: 125px;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }
    .EFGH div {
        height: 250px;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }
}
